#cartNavBarFullWidth {
  background-color: #333436;
}
#cartNavBar {
  height: 80px;
  /* background-color:#333436 ; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

#cartNavBar > img {
  height: 60%;

  background-color: #333436;
}
#cartNavBarBottom {
  height: 80px;
  background-color: white;
  margin: 0;
  display: flex;
  align-items: center;
}
#cartNavBarBottom > div {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
#cartContainerMain {
  width: 80%;
  margin: auto;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#cartContainerMain  h4 {
  /* border: 1px solid black; */
  text-align: start;
  display: block;
}
