#SearchPageMainParentContainer{
    width: 100%;
    background-color: white;
    padding-bottom: 8rem;
}
#SearchPageMainChildContainerTop{
    display: flex;
    justify-content: flex-end;
}
#SearchPageMainChildContainer{
    width: 80%;
    margin: auto;
}
#SearchPageMainChildContainerLeft{
    
}
#SearchPageMainChildContainerRight{

}