#addresscartContainerMain{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    /* border: 1px solid black; */
    text-align: start;
    
}
#addresscartContainerMainRight{
    width: 30%;
    /* border: 1px solid black; */
}